<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Importador de pedidos</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- bootstrap css -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" href="css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
	media="screen">
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout">
	<!-- loader  -->
	<div class="loader_bg">
		<div class="loader">
			<img src="images/loading.gif" alt="#" />
		</div>
	</div>
	<!-- end loader -->
	<!-- header -->
	<header>
		<!-- header inner -->
		<div class="header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
						<div class="full">
							<div class="logoPersonalizado">
								<a href="inicio"><img src="images/logoTransparente.png"
									alt="#" /></a>
							</div>
						</div>
					</div>
					<div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
						<nav class="navigation navbar navbar-expand-md navbar-dark ">
							<button class="navbar-toggler" type="button"
								data-toggle="collapse" data-target="#navbarsExample04"
								aria-controls="navbarsExample04" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarsExample04">
								<ul class="navbar-nav mr-auto">
									<li class="nav-item active"><a class="nav-link"
										href="inicio">Inicio</a></li>
									<li class="nav-item"><a class="nav-link" href="importar">Importar
											pedidos</a></li>
									<li class="nav-item"><a class="nav-link" href="importar">Historial
											de pedidos</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- end header inner -->
	<!-- end header -->
	<!-- banner -->
	<section class="banner_main">
		<div id="banner1" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#banner1" data-slide-to="0" class="active"></li>
				<li data-target="#banner1" data-slide-to="1"></li>
				<li data-target="#banner1" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="container">
						<div class="carousel-caption">
							<div class="row">
								<div class="col-md-7">
									<div class="text-bg">
										<h1>
											<span class="yellow"> Importador </span> <br>de pedidos
										</h1>
										<p>
											Web para importar pedidos <br>desde un fichero externo
											en formato CSV
										</p>
										<button onclick="triggerFileUpload()" class="read_more">Importar
											pedidos</button>
										<form th:action="@{/importarPedidos}" method="post"
											enctype="multipart/form-data" style="display: none;">
											<input type="file" id="fileUpload" name="file"
												onchange="this.form.submit()" />
										</form>
										<a class="read_more" href="importar">Historial de pedidos</a>
										<br> <br>
										<div th:if="${warningMessage}">
											<span th:text="${warningMessage}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</section>
	<!-- end banner -->
	<!-- about section -->
	<div id="about" class="about">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<div class="titlepage">
						<h2>
							<img src="images/logo_resumen-sin_fondo.png" alt="#" width="50"
								height="70">Historial de <span class="yellow">pedidos</span>
						</h2>
						<p>Acceda rápidamente a cada importación seleccionandolo en la
							tabla. Ideal para una gestión eficiente y un análisis profundo de
							su actividad comercial.</p>
					</div>
				</div>
				<div class="col-md-10 offset-md-1">
					<table id="historyTable" class="display">
						<thead>
							<tr>
								<th>History ID</th>
								<th>Change Date</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="history : ${historyOrders}">
								<td th:text="${history.historyId}"></td>
								<td th:text="${history.changeDate}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- about section -->
	</div>
	<!--  footer -->
	<footer>
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<a class="logoPersonalizado" href="inicio"><img
							src="images/logoTransparente.png" width="50" height="50"
							style="float: left;" alt="#" /></a>
						<p>Plataforma digital diseñada para facilitar la carga y
							gestión de datos de pedidos a través de archivos CSV. Los
							usuarios pueden subir archivos CSV conteniendo información de
							pedidos, y el sistema automáticamente los procesa para mostrar un
							resumen detallado y organizado. Esta herramienta es ideal para
							negocios o individuos que buscan una solución eficiente para la
							gestión de pedidos masivos, proporcionando una interfaz sencilla
							para la visualización y análisis de datos.</p>
					</div>
					<div class="col-md-3">
						<div class="fid_box">
							<h3>Enlaces mas importantes</h3>
							<ul class="use_link">
								<li class="active"><a href="inicio">Inicio</a></li>
								<li><a href="importar">Importar pedidos</a></li>
								<li><a href="importar">Resumen pedidos</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fid_box">
							<h3>Contacto</h3>
							<ul class="location_icon">
								<li><a href="Javascript:void(0)"><i
										class="fa fa-map-marker" aria-hidden="true"></i></a><br>
									C/Inventada 16 <br>Población (Provincia)</li>
								<li><a href="Javascript:void(0)"><i class="fa fa-phone"
										aria-hidden="true"></i></a><br> (+71) 1234567890<br>
									(+71) 1234567890</li>
								<li><a href="Javascript:void(0)"><i
										class="fa fa-envelope" aria-hidden="true"></i></a><br>
									dferna40@gmail.com</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p>
								Importador de pedidos© 2023 All Rights Reserved. Design by<a
									href="https://html.design/"> David Fernández Ramírez</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- end footer -->
	<!-- Javascript files-->
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/jquery-3.0.0.min.js"></script>
	<!-- sidebar -->
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/custom.js"></script>
	<script>
		$(document).ready(function() {
			$('#historyTable').DataTable();
		});
		function triggerFileUpload() {
			document.getElementById('fileUpload').click();
		}
		function openNav() {
			document.getElementById("mySidepanel").style.width = "250px";
		}

		function closeNav() {
			document.getElementById("mySidepanel").style.width = "0";
		}
	</script>
	<script>
		// This example adds a marker to indicate the position of Bondi Beach in Sydney,
		// Australia.
		function initMap() {
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom : 11,
				center : {
					lat : 40.645037,
					lng : -73.880224
				},
			});

			var image = 'images/maps-and-flags.png';
			var beachMarker = new google.maps.Marker({
				position : {
					lat : 40.645037,
					lng : -73.880224
				},
				map : map,
				icon : image
			});
		}
	</script>
	<!-- google map js -->
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
	<!-- end google map js -->
</body>
</html>

